@using WebApplication1.Models
@model WebApplication1.Models.ComicBook
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = @Model.DisplayText;
   
    
}

<h2>@Model.SeriesTitle</h2>
<h2>Issue#@Model.IssueNumber</h2> 

<h5>Desciprion</h5>
<h5>Artists</h5>
<div>@Html.Raw(@Model.DescriptionHTML)</div>
@foreach(Artists artist in Model.Artists )
    {
       <p>@artist.Role : @artist.Name</p>
    }

